[submodule "3rdparty/kirigami"]
	path = 3rdparty/kirigami
	url = git://anongit.kde.org/kirigami.git
	branch = master
[submodule "3rdparty/breeze-icons"]
	path = 3rdparty/breeze-icons
	url = git://anongit.kde.org/breeze-icons.git
	branch = master
[submodule "3rdparty/qtremoteobjects"]
	path = 3rdparty/qtremoteobjects
	url = git://code.qt.io/qt/qtremoteobjects.git
